<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top">
            <button id="menu-btn">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <div class="theme-toggler">
                <span class="material-symbols-outlined active">light_mode</span>
                <span class="material-symbols-outlined">dark_mode</span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Rodney</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <!-- <img src="./img/profile-admin.jpeg" alt="" srcset=""> -->
                </div>
            </div>
        </div>
    </header>

</body>
</html>